@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <br />
    93 Hickling Trail
    Barrie, ON L4M 5T4<br />
    <abbr title="Phone">P:</abbr>
    647.887.7582
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">hemantdhiman07@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">aviralsingh1403@gmail.com</a>
</address>