@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Future Cars</h1>

    <p class="lead">Look to the future! Dhiman’s mission is to accelerate the world’s transition to sustainable energy.</p>
    <img src="~/car1.jpg" style="width: 1020px;" />
</div>



<div class="row">
    <div class="col-md-4">
        <h2>Infinity</h2>
        <img src="~/car2.jpg" style="width: 330px;" />
        <p>
            Infinity is designed from the ground up to be the safest, most exhilarating sedan on the road.
            With unparalleled performance delivered through Tesla's unique, all-electric powertrain,
            Model S accelerates from 0 to 100 km/h in as little as 2.7 seconds. Model S comes with Autopilot capabilities designed to make your
            highway driving not only safer, but stress free.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>

    </div>
    <div class="col-md-4">
        <h2>Supernova</h2>
        <img src="~/car3.jpg" style="width: 330px;" />
        <p>
            Supernova is the safest, quickest and most capable sport utility vehicle in history.
            With all-wheel drive and a 100 kWh battery providing 475 kilometers of range, Model X has ample seating for seven adults and all of their gear.
            And it’s ludicrously fast, accelerating from zero to 100 kilometers per hour in as quick as 3.1 seconds.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Galaxy</h2>
        <img src="~/car4.jpg" style="width: 330px;" />
        <p>
            Galaxy is our flagship, premium sedan with more range, acceleration, displays and customization options.
            It’s the safest car in its class with unlimited Supercharging for the duration of ownership when referred by an owner.
            Model 3 is a smaller, simpler, more affordable electric car. Although it is our newest vehicle, Model 3 is not “Version 3”
            or the most advanced Tesla. Like Model S, it is designed to be the safest car in its class.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>